/OneDrive/Documentos/NetBeansProjects/EstudioParaQuiz/QuizSilla/nbproject/private/
/OneDrive/Documentos/NetBeansProjects/EstudioParaQuiz/QuizSilla/build/
/OneDrive/Documentos/NetBeansProjects/EstudioParaQuiz/Spotify/nbproject/private/
/Desktop/ESTRUCTURA DE DATOS/Grafos/Grafos/build/
/Desktop/ESTRUCTURA DE DATOS/Grafos/Grafos/nbproject/private/
/build/
